<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Top words that I use in VK</title>
  <!-- Вы не поверите, но -->
  <meta name="author" content="Seva Zhidkov">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h4>My top words</h4>
        <ul>
          {% for word in words %}
          <li>"{{ word[0] }}" - {{ word[1] }}</li>
          {% endfor %}
        </ul>
        <p>Updated: {{ words_update }} hours ago</p>
      </div>
      <div class="one-half column" style="margin-top: 15%">
        <h4>My top symbols</h4>
        <ul>
          {% for symbol in symbols %}
          <li>"{{ symbol[0] }}" - {{ symbol[1] }}</li>
          {% endfor %}
        </ul>
        <p>Updated: {{ symbols_update }} hours ago</p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
