%h2
  = link_to(@service.name, @service.link)
%p
  Описание:
  = @service.description
%p
  URL для админки:
  = link_to(@service.admin_link, @service.admin_link)
= link_to("Редактировать", edit_service_path(@service))
