<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Seva Zhidkov – personal site</title>
  </head>
  <body>
    <b>Seva Zhidkov</b>
    <p>Python developer. School student. Bots evangelist.</p>
    <hr>
    <p>&copy; 2015, Seva Zhidkov</p>
    <p><i>Site looks like I follow <a href='http://motherfuckingwebsite.com'>Motherf**king Website concept</a>.
      Actually i do not. Right now I haven't enough time to make a cool design and I don't want to make
      another <a href="http://adventurega.me/bootstrap/">Every F**king Bootstrap Website Ever</i></a>.
    </p>
  </body>
</html>
