- provide(:title, "Список администраторов")
.admin
  %h2 Администраторы
  = link_to("Создать нового администратора", new_admin_path, class: 'new-admin-link')
  - @admins.each do |admin|
    %article.admin
      = admin.name
      = admin.email
    = link_to("Изменить", edit_admin_path(admin))
