- provide(:title, "Блог")
%h2 Блог
- @articles.each do |article|
  %article
    = link_to(article.title, article)
    %br
    - if admin?
      = link_to("(редактировать)", edit_article_path(article))
