.input-group.input-group-lg
  = form_for(@journal) do |f|
    = f.text_field :name, placeholder: "Название", class: "form-control"
    = f.text_area :description, placeholder: "Описание", class: "form-control"
    = f.submit "Сохранить изменения", class: "form-control"
