- provide(:title, @journal.name)
%h2
  = @journal.name
%p
  = @journal.description

- @journal.posts.each do |post|
  %article
    .time
      %i
        = post.time
    .text
      != post.text
    .image
      image_tag(post.photo) - skip it for dev
