<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Seva Zhidkov</title>
  <meta name="description" content="Yet another developer's about me site">
  <!-- Вы не поверите, но -->
  <meta name="author" content="Seva Zhidkov">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h4>My name is <b>Seva</b></h4>
        <p>School student from Russia, Python developer.</p>
        <aside>
          <a href='/places'>Places</a> </br>
          <a href='/word-count'>Top words</a> </br>
          <a>Contact me</a>
        </aside>
      </div>
      <div class="one-half column" style="margin-top: 15%">
        <h4>Activity in <b>Github</b></h4>
        <ul>
          {% for contribution in contributions %}
            <li>{{ contribution|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="one-half column" style="margin-top: 0%">
        <h4>Last posts in <b>Twitter</b></h4>
<a class="twitter-timeline" href="https://twitter.com/sevazhidkov" data-widget-id="685535455870320643">Tweets by @sevazhidkov</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
