%ul.nav.nav-pills
  %li{role: 'presentation'}
    = link_to 'Главная', home_path
  %li{role: 'presentation'}
    = link_to 'Портфолио', projects_path
  %li{role: 'presentation'}
    = link_to 'Контакты', contact_path
